body {
    width: 50em;
    height: 25em;
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#popup-content {
    display: flex;
    flex-direction: column; /* Utiliser une disposition à une colonne */
    justify-content: center; /* Centrer verticalement les éléments */
    align-items: center; /* Centrer horizontalement les éléments */
    height: 100%; /* Hauteur totale de la fenêtre */
}

#checkbox-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#icon {
    height: 100px;
    width: auto;
    margin: 10px;
}

p {
    text-align: center;
    margin: 0; /* Supprimer les marges par défaut du paragraphe */
}

label {
    margin-left: 5px;
}

.toggle-button {
    background-color: #FF4136;
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 3em;
    text-align: center;
    line-height: 1.5;
}
.toggle-button.on {
    background-color: #2ECC40;
}
