body {
    width: '50em';
    height: '25em';
    font-family: Arial, sans-serif;
    background-color: aquamarine;
    margin: 0; 
    padding: 0;
    overflow: hidden; 
    position: relative; 
}

#popup-content {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

#icon-image {
    height: 100%;
    width: auto;
    margin-right: 10px; 
}

p {
    text-align: center;
}
